!!!
%html
	%head
		%link{rel:"stylesheet", href:"assets/css/master.css", type:"text/css", media:"screen"}
		%script{src:"assets/js/jquery.min.js", type:"text/javascript"}
		%script{src:"assets/js/main.js", type:"text/javascript"}
	%body
		!= render_content(page)
