.content
	.main_content
		.header_image
			%img{src:"assets/img/header.jpg"}
		.main_body
			Kies je favoriete cv-stijl
			.cv_link.herfst_link{data: {cv: 'herfstcv'}}
				%img{src:"assets/img/cvsiteherfstbutton.png"}
			.cv_link.serieus_link{data: {cv:'serieuscv1,serieuscv2'}}
				%img{src:"assets/img/klassiekcv.png"}
			.cv_link.beknopt_link{data: {cv:'beknoptcv'}}
				%img{src:"assets/img/cvsitebeknoptbutton.png"}
			.cv_link.sprookjesachtig_link{data: {cv:'sprookjescv'}}
				%img{src:"assets/img/cvsitesprookjes.png"}
	.side_content.hidden
